.product {
  width: 250px;
  padding: 24px;
  border: 1px solid #000;
  position: relative;
}

.product__img {
  background-color: forestgreen;
  height: 150px;
}

.product::after {
  content: "new";
  width: 35px;
  height: 35px;
  color: white;
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
}

.product::before {
  content: "sale";
  width: 35px;
  height: 35px;
  color: white;
  background-color: orange;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
