@keyframes heartbeat {
  from {
    /* стартовое значение */
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.button {
  display: block;
  width: 120px;
  height: 40px;
  border: 1px solid purple;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  color: purple;
  font-size: 20px;
  animation: 3s heartbeat 1.5s ease-in-out both;
  /* animation: heartbeat 1.5s ease-in-out both; */
}

.button:hover {
  background-color: purple;
  color: white;
  /* У hover transition не используем ! */
  /* transition: background-color 1s; */
}

ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ol.c {
  list-style-type: upper-roman;
}

ol.d {
  list-style-type: lower-alpha;
}

.list__item_new::after {
  content: " new!";
  color: red;
}

.bord {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bord__item {
  /* width: 150px; */
  width: 250px;
  height: 86px;
  background-color: forestgreen;
  transition: transform 1s;
  position: absolute;
}

.bord__item-1 {
  transform: skew(15deg);
}
