.button {
  display: block;
  width: 120px;
  height: 40px;
  border: 1px solid purple;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  color: purple;
  font-size: 20px;
  /* transition: background-color 1s; */
  transition: all 0.3s;
}

.button:hover {
  background-color: purple;
  color: white;
  /* У hover transition не используем ! */
  /* transition: background-color 1s; */
}

ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ol.c {
  list-style-type: upper-roman;
}

ol.d {
  list-style-type: lower-alpha;
}

.list__item_new::after {
  content: " new!";
  color: red;
}

.bord {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bord__item {
  width: 200px;
  height: 150px;
  border: 1px solid #000;
  transition: transform 1s;
}

.bord__item-1:hover {
  transform: translate(200px, -100px) scale(1.5);
}

.bord__item-2:hover {
  transform: translateY(-100px) scale(1.5);
}

.bord__item-3:hover {
  transform: translate(-200px, -100px) scale(1.5);
}
