.content {
  /* width: 700px; */
  display: grid;
  /* grid-template-columns: 100px 30% auto; */
  /* grid-template-columns: 100px 200px 200px; */
  grid-template-columns: repeat(4, 200px);
  gap: 32px;
  justify-content: center;
  margin-bottom: 128px;
}

.item {
  border: 1px solid #000;
  height: 200px;
}
