.content {
  /* width: 700px; */
  display: grid;
  /* grid-template-columns: 100px 30% auto; */
  /* grid-template-columns: 100px 200px 200px; */
  grid-template-columns: repeat(4, 200px);
  gap: 32px;
  justify-content: center;
  margin-bottom: 128px;
}

.item {
  border: 1px solid #000;
  /* height: 200px; */
  min-height: 200px;
}

.item1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.item3 {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

.box {
  padding-top: 128px;
  padding-bottom: 128px;
  position: relative; /* обязательно для родительского элемента !*/
}

.elem {
  width: 250px;
  height: 150px;
  position: absolute;
}

.elem1 {
  background-color: rgb(23, 97, 4);
  top: 0;
  left: 0;
  z-index: 2;
}

.elem2 {
  background-color: rgb(38, 150, 10);
  top: 75px;
  left: 75px;
  z-index: 1;
}

.elem3 {
  background-color: rgb(80, 226, 43);
  top: 150px;
  left: 150px;
  z-index: 0;
}
