@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap");

* {
  /* список стилей для обнуления */
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* очень важный параметр! */
  text-decoration: none;
}

body {
  scroll-behavior: smooth; /* плавность прокрутки сайта */
  text-rendering: optimizeSpeed; /* отображение текста после полной прогрузки */
  background: #020a18;
}

img {
  display: block; /* превращает строчный тип в блочный (чтобы не оборачивать текст в блок div) */
  max-width: 100%; /* максимально доступная ширина */
} /* конец списка стилей для обнуления */

.container {
  width: 1146px;
  margin: 0 auto; /* auto - посередине */
}

/* ---------- header ---------- */
header {
  margin-bottom: 160px;
}

.navigation {
  display: flex;
  gap: 40px; /* gap - расстояние между элементами */
  padding-top: 39px;
  padding-bottom: 39px;
  justify-content: center;
}

.link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
/* -------- end header -------- */

/* ----------- main ----------- */
main {
  margin-bottom: 197px;
}

.main__content {
  display: flex; /* для позиционирования дочерних элементов */
  justify-content: space-between;
}

.main__content__left-side {
  width: 604px;
}

.small-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  color: #3a68b8;
  margin-bottom: 10px;
}

.big-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 40px;
}

.text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
  width: 558px;
  margin-bottom: 50px;
}

.btns-list {
  display: flex;
  gap: 20px; /* расстояние между кнопками */
}

.btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  background: #3a68b8;
  border-radius: 5px;
  padding: 15px 30px;
  border: none;
}
/* --------- end main --------- */

/* ---------- footer ---------- */
footer {
  margin-bottom: 99px;
}

.logos {
  display: flex;
  justify-content: space-between;
}
/* ------- end footer --------- */
