.wrapper {
  overflow: hidden;
  min-height: 100vh;
}

.top {
  position: relative;
}

#check:checked ~ .menu {
  right: -232px;
}

.menu {
  position: absolute;
  right: 0;
  transform: right 1s;
}

#check {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}

.label {
  background-color: blueviolet;
}
